
<%- include('./partials/head', {title: 'ABM Productos'}) %>


<%- include('./partials/headerNavbar') %>



<div class="addButton">
    <a href="/products/create">
      <img src="/images/addBook.png" alt="addBook" >
    </a>
</div>

<form class="d-flex buscarProducto" action="/products/search" method="GET">
  <input class="form-control me-2" id="buscar" name="search" type="search" placeholder="Buscar producto" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Buscar</button>
</form>
<div class = "erroresFront">
  <ul>
      
  </ul>
</div>
<table class="table table-hover">
    
    <thead>
      <tr>
        <th scope="col" colspan="2">Producto</th>
        <th scope="col" class="abmCentrado">Ver</th>
        <th scope="col" class="abmCentrado">Editar</th>
        <th scope="col" class="abmCentrado">Eliminar</th>
      </tr>
    </thead>
    <tbody class="abmTableProducts">
        <% productos.forEach((prod) => { %>
      <tr>
        <td> <img src="/images/<%=prod.image%>" alt="img-book" style="max-width: 50px;"></td>
        <td><%=prod.title.toUpperCase()%></td>
        <td class="abmCentrado"><a href="/products/<%=prod.id%>"><i class="far fa-eye"></i></a></td>
        <td class="abmCentrado"><a href="/products/edit/<%=prod.id%>"><i class="fas fa-edit"></i></a></td>
        <td class="abmCentrado"><a href="/products/delete/<%=prod.id%>"><i class="fas fa-trash-alt" style="color: red;"></i></a></td>
      </tr>
      <% }) %> 
    </tbody>
    
  </table>
  <input type="button" class="botonCancelar" onclick="history.back()" name="volver atrás" value="volver" style="position: fixed; right: 50px; bottom: 50px;">

  <%- include('./partials/footer') %>